<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmdmax.goonj">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:name=".base.BaseApplication"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Goonj">

        <activity android:name=".screens.activities.PaywallActivity"></activity>
        <activity android:name=".screens.activities.SubscriptionActivity" />
        <activity android:name=".screens.activities.MyProfileActivity" />
        <activity android:name=".screens.activities.WebViewActivity" />
        <activity android:name=".screens.activities.PlayerActivity" />
        <activity android:name=".screens.activities.WelcomeActivity" />
        <activity android:name=".screens.activities.VerificationActivity" />
        <activity android:name=".screens.activities.SigninActivity" />
        <activity android:name=".screens.activities.LoginActivity" />
        <activity android:name=".screens.activities.GetStartedActivity" />
        <activity android:name=".screens.activities.UserContentPrefsActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".screens.activities.SplashActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="goonj.pk"
                    android:scheme="https" />
                <data
                    android:host="www.goonj.pk"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>